<!-- under construction page tailwind -->

<div class="flex flex-col items-center justify-center h-screen dark:bg-black">
  <div class="grow"></div>

  <div class="flex flex-col items-center justify-center">
    <div class="text-6xl font-bold text-gray-800 dark:text-gray-200">
      Under Construction
    </div>
    <div class="text-2xl font-bold text-gray-800 dark:text-gray-400">
      Coming Soon
    </div>
    <!-- copyright Innovation Crib -->
  </div>
  <div class="grow"></div>
  <div class="flex flex-row items-center justify-center space-x-2">
    <div class="text-gray-800 dark:text-gray-200">made by</div>
    <div class="text-gray-800 dark:text-gray-200">Innovation Crib</div>
  </div>
  <div class="flex flex-row items-center justify-center text-sm" >
    <div class="text-gray-600 dark:text-gray-400"> &copy; Innovation Crib B.V. {{year}} </div>
  </div>
</div>

<router-outlet></router-outlet>
